.header {
	width: 100%;
	height: 85px;
	background-color: var(--dark-color);
	padding: 0 20px;
	margin-bottom: 25px;
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
	padding: 20px 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-family: var(--roboto-slab-font);
	font-weight: 800;
	font-size: 2rem;
}

.logo a {
	background: linear-gradient(135deg, var(--accent-color), var(--light-color));
	background-clip: text;
	color: transparent;
}

.nav {
	display: flex;
	align-items: center;
	gap: 0 15px;
}
