.favorites__heading {
	font-size: 1.45rem;
	font-family: var(--roboto-slab-font);
	margin-bottom: 10px;
}

.no-favorites {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px 0;
}

.no-favorites h4 {
	font-size: 1.2rem;
	font-weight: bold;
	opacity: 0.75;
}

.no-favorites a {
	font-size: 1.15rem;
	color: var(--dark-color);
	text-decoration: underline !important;
}
