.content {
	display: flex;
	gap: 0 35px;
}

.back-btn {
	margin-bottom: 10px;
	padding: 5px 10px !important;
}

.back-btn span {
	font-weight: 800;
}

.banner {
	width: 100%;
	max-width: calc(0.5 * 80vw);
	background: linear-gradient(45deg, var(--accent-color), var(--light-color));
	border: 1px solid var(--dark-color);
	border-radius: 15px;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px 0;
}

.rating {
	display: flex;
	align-items: center;
	gap: 2px;
}

.rating svg {
	font-size: 1.2rem;
}

.price {
	font-size: 1.25rem;
}

.price span {
	font-weight: 800;
}

.buttons {
	margin-top: auto;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 0 15px;
}

.buttons button {
	flex-grow: 1;
}
