.add-btn {
	position: sticky;
	left: 100%;
	bottom: 10px;
	z-index: 2;

	width: 50px;
	height: 50px;
	border: 3px solid var(--accent-color);
	background-color: var(--light-color);
	border-radius: 50%;
	color: var(--accent-color);

	display: flex;
	align-items: center;
	justify-content: center;

	transition-property: background-color, color, opacity, translate;
	transition-duration: 0.25s, 0.25s, 0.15s, 0.2s;
}

.add-btn svg {
	font-size: 2rem;
}

.add-btn:hover {
	background-color: var(--accent-color);
	color: var(--light-color);
}

.add-btn:active {
	opacity: 0.85;
	translate: 0 2px;
}
