.link {
	font-size: 1.2rem;
	color: var(--light-color);

	position: relative;

	transition-property: opacity, translate;
	transition-duration: 0.25s, 0.15s;
}

.link:not(.active) {
	opacity: 0.85;
}

.link:not(.active):hover {
	opacity: 1;
}

.link:not(.active):active {
	translate: 0 1.5px;
}

.link::after {
	content: "";

	width: 100%;
	height: 2px;
	border-radius: 1.5px;
	background-color: var(--accent-color);

	position: absolute;
	left: 0;
	bottom: -2px;

	opacity: 0;
	transition: opacity 0.35s;
}

.active.link::after {
	opacity: 1;
}
